@import './fonts.css';
@import 'tailwindcss';

@theme {
  /* fonts */
  --font-nunito: 'Nunito Sans', sans-serif;

  /* main colors */
  --color-background: #1a1a1a;
  --color-text: #fcfbfc;
  --color-text-hover: #ffffff;
  --color-secondary-text: #bbbec4;
  --color-button: #e6fc58;
  --color-button-hover: #c0cd6b;
  --color-border: #9a9da4;

  /* additional colors */
  --color-remove: #e25c5c;
  --color-muted: #8c8e8f;

  /* breakpoints */
  --breakpoint-ls: 320px;
  --breakpoint-es: 380px;
  --breakpoint-xs: 475px;
  --breakpoint-mds: 600px;
  --breakpoint-sm: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-md: 1100px;
  --breakpoint-lg: 1300px;
  --breakpoint-2xl: 1440px;
  --breakpoint-xh: 1600px;
  --breakpoint-3xl: 1920px;

  /* font size */
  --text-size-14: 14px;
  --text-size-16: 16px;
  --text-size-18: 18px;
  --text-size-20: 20px;
  --text-size-24: 24px;
  --text-size-32: 32px;
  --text-size-40: 40px;
  --text-size-48: 48px;
  --text-size-64: 64px;
}

html,
body {
  font-family: var(--font-nunito);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  color: var(--color-text);
  background: var(--color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-50px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
